* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 38px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
}

.header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #57534e;
  margin-bottom: 16px;
  padding: 16px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: -1px;
  border-radius: 16px;

  gap: 24px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.vote {
  margin-left: auto;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px 64px;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

body {
  color: #fafaf9;
  background-color: #44403c;
  font-family: "Sono", sans-serif;
  padding: 48px 64px;
}

.hidden {
  display: none !important;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.category {
  margin: 16px;
}
.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.5s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(45deg, #3b82f6, #16a34a, #ef4444, #eab308);
  color: inherit;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 45px;
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}
.btn-all {
  margin-bottom: 16px;
  width: 100%;
}

.btn-cat {
  width: 100%;
  background-image: none;
}
.btn:hover {
  transform: scale(110%) rotate(-1deg);
}

.vote button {
  background-color: #78716c;
  border: none;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.vote {
  margin-left: auto;
  display: flex;
  flex-shrink: 0;
}

.vote button:hover {
  background-color: #292524;
}

.fact-form input,
.fact-form select {
  background-color: #78716c;
  border: none;
  width: 250px;

  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.fact-form input::placeholder {
  color: #d6d3d1;
  text-align: center;
}
.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin: 18px;
}
.fact-form input:first-child {
  flex-grow: 1;
}
.fact-form {
  background-color: #57534e;
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

@media (max-width: 1110px) {
  body {
    padding: 32px 48px;
  }
  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }
  .fact-form input,
  .fact-form select {
    width: auto;
  }
}
